@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url('cursor.cur'), auto;
}

sup {
    font-size: 0.5em;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #e4e4ec;;
}

a {
    position: relative;
}

.wrapper {
   
    padding: 15px 0;
    background-color: #1f1f56;
}

.container {
    margin: 0 auto;
    max-width: 960px;

} 

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 28px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}


.column {
    width: 219px;
    box-sizing: border-box;
}

.aic {
    align-items: center;
}

.header ul {

    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
    
}

.header  li {
   
    display: inline-block;
    margin: 0 14px;  
}


.afisha a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all .5s ease;
} 


.afisha li:hover a, 
.contacts li:hover a {
    color: #fd8300;
}



.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
    transition: all .5s ease;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;

}

a.tw {
    height: 15px;
    width: 18px;
    background-position: -12px -2px;
}

a.in {
    height: 19px;
    width: 19px;
    background-position: -32px 0;
}

a.fb:hover {
    background-position: 0 -24px;
}

a.tw:hover {
    background-position: -13px -26px;
}

a.in:hover {
    background-position: -33px -24px;
}

.contacts {
    padding: 10px 0;
   
}

.contacts ul {
    list-style: none;
}

.contacts li {
    margin: 5px 0;
}

.contacts a {
       
    color: #25252c;
    text-decoration: none;
}

.logos:before {
    content: "";
    position: absolute;
    left: -28px;
    top: 2px;
}


.namber a {
    
    font:bold 18px/24px Arial;
      
}

.tel:before {
    width: 16px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -53px 0;

}

.mail::before {
    width: 17px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat -91px -2px;
}

.skype::before {
    width: 19px;
    height: 19px;
    top: -2px;
    background: url(../img/sprite.png) no-repeat -71px 0;
}

.stick {
    position: relative;
}

.stick::before {
    content: "";
    position: absolute;
    top: 15px;
    right: -18px;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}


.internet a.mail  {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    text-decoration: underline;
}

.call {
    text-align: right;
}

.call a {
    display: inline-block;
    padding: 12px 28px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    transition: all .5s ease;
    border-radius: 25px;
    border: 2px solid #fd8300;
    box-shadow: 0 5px 5px 0 #fd8300;;
}

.call a:hover {
    cursor: url('cursor2.cur'), auto;
    background-color: #dcdce6;;
    color: #fd8300;
    border: 2px solid #1f1f56;

}

.sentence {
    padding: 55px 0 35px;
    color: #fff;
    text-align: center;
    background: #0d0805 url(../img/background.jpg) center/cover;   
  }

.sentence p {
    margin: 0px;
  }


.month {
    letter-spacing: 2px;
    text-transform: uppercase;
    font:700 30px "Roboto Slab";
}

p.choice {
    margin: 5px 0;
    font-size: 14px;
    line-height: 24px;
  
    }

.price {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
   
}   

.price span {
    font-size: 40px;     
}

.main {
    padding: 35px 0 45px;
}


.main h1,
.main h2 {
    color: #24242b;
    font-family: "Roboto Slab";
}
.main h1 {
    font-size: 30px;
}

.main h2 {
    font-size: 24px;
}


.company {
    max-width: 670px;
}

.content p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.content a {
    
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;;
}

.content a:hover {
    
    text-decoration: none;
    
}

.house h3 {
    margin: 5px 0 0;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    transition: all .25s ease;
}

.house a:hover ~ h3 {
    text-decoration: underline 2px;
}

h3 sup { 
    display: inline-block;
    text-decoration: none; 
}

.house {
    position: relative;
    margin: 0;
}

.house a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.house p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    
}

.menu {
    min-width: 219px;
    
}




.menu-table > ul > li > a::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    top: 18px;
    right: 15px;
    transform: rotate(-45deg);
    transition: all .5s ease;

}

.menu-table {
    position: sticky;
    top: 35px;
    border-radius: 3px;
    overflow: hidden;
}

.menu p {
    margin: 0;
    padding: 11px 16px; 
    background-color: #1f1f56;
    color: #fff;
    font: 700 16px/1.5em "Roboto Slab";
    
}


.menu-table ul {
    
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.menu-table a {
    
    display: block;
    padding: 11px 16px;
    background-color: #e4e4ec;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    
}

.menu-table > ul >li+li > a {
    border-top: 1px solid #cdcddd;

}


.menu-table > ul > li:hover > a {
    color: #fff;
    background-color: #fd8300;
}

.sub-menu {
    display: none;
    
}



.sub-menu a {
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.menu-table > ul > li:hover > a::before {
    border-color: #fff;
    transform: rotate(45deg);
}

.menu-table li:hover .sub-menu {
    display: block;
}


.sub-menu a:hover {
    
    background-color: #cecedd;
   
}

.addition-fon {
    padding: 30px 0 20px;
    background-color: #ededf5;
    
}

.hous-mein  {
    list-style: none;
    padding-left: 0;
    margin: 10px 0;
    
    
}

.addition a{
    position: relative;
    font-size: 14px;
    line-height: 26px;
    transition: all .5s ease;  
    text-decoration: none;
    color: #666;
}

.namber a {
    color: #25252c;
    
}

.internet a {
    
    
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}
.namber p,
.internet p {
    padding-left: 30px;
    margin: 10px 0;
}

.addition a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.copy {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    padding: 13px;
    display: flex;
    background-color: #dcdce6;
    justify-content: center;
}

.services p {
    font-size: 14px;
    line-height: 24px;
    color: #666666
}

.services a {
    font-size: 14px;
    line-height: 24px;
    color: #666666
}


.table-price {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
    overflow: hidden;
}

.table-price thead {
    color: #fff;
    background-color: #1f1f56;
}    

.table-price th {
    padding: 13px 20px;
    text-align: left;
    font: 14px "Roboto Slab";
}

.table-price th:last-child,
.table-price tbody td:last-child
 {
    text-align: right;
}

.table-price tbody {
    color: #666666;
    background-color: #e4e4ec;
}

.table-price tbody td {
    padding: 13px 20px;
    font-family: "Arial";
    
}

.table-price tbody tr:not(:last-child) {
    box-shadow: inset 0px -1px 0px #cecedd;
    
}

.table-price tbody td {
    font-size: 14px;
    color: #666;
    
}

.table-price tbody tr:hover td {
    background-color: #fd8300;   
    color: #ffffff;
    cursor: pointer;
    
}

.head-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

 /*Лист 3 контакт информ, карта, форма */

 
.contacts-office h1 {
    font-size: 24px;
}

.contacts-office a {
    text-decoration: none;
}



.maps iframe {
    
    width: 466px;
    height: 299px;
    border: none;
}

main h4 {
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}


        /* Формы */

.mg {
    padding: 10px 0 40px 0 ;
}

.form {
    max-width: 466px;
}


.name,
.telephone {
    width: 49%;
   
}


.name,
.telephone,
.topic,
textarea {
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    padding: 9px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c5c5d4;
    box-sizing: border-box;
}

input:active,
textarea:active {
    outline: none;
}

input:focus,
textarea:focus {
    outline: none;
}



input:focus-visible,
textarea:focus-visible {
    border: 1px solid red;
}


.topic {
    margin: 9px 0;
    width: 100%;
}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 106px;
    line-height: 21px;
    padding-top: 15px;
    width: 466px;
    height: 106px;
    
}

.send {
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 21px;
    background-image: linear-gradient(blue, yellow);
    border: none;
    transition: all .5s ease;
}




.send:hover {
    color: yellow;
    background-color: #1f1f56;

}


.checkbox {
    position: absolute;
    visibility: hidden;
}

.checkbox + label {
    position: relative;
    padding: 0 0 0 57px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";

}

.checkbox + label::before,
.checkbox:checked + label::after {
    content: "";
    position: absolute;
    box-sizing: border-box;

}


.checkbox + label::before {
    left: 29px;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;

}

.checkbox:checked + label::before {
    background-image: linear-gradient(#0969f9, #a8eb12);

}


.checkbox:checked + label::after {
    left: 34px;
    top: 2px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 5px;
    height: 8px;
    transform: rotate(45deg);
}



