body {
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url('cursor.cur'), auto;
}

sup {
    font-size: 0.5em;
}

hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #e4e4ec;;
}


.wrapper {
   
    padding: 15px 0;
    background-color: #1f1f56;
}

.container {
    margin: 0 auto;
    max-width: 960px;

} 

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 28px;
}



.aic {
    align-items: center;
}

.header ul {

    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
    
}

.header  li {
   
    display: inline-block;
    margin: 0 14px;  
}

.afisha li:hover a, .contacts li:hover a {
    color: #fd8300;
}


.afisha a {
    transition: all .5s ease;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
} 



.contacts {
    padding: 10px 0;
   
}

.contacts ul {
    list-style: none;
}

.contacts li {
    margin: 10px 0;
}

.contacts a {
    transition: all .5s ease;   
    color: #25252c;
    text-decoration: none;
}

.namber a {
    font:bold 18px/24px Arial;
    
    
}

.internet a.mail  {
    text-decoration: underline;
}



.call a {
    padding: 12px 28px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    transition: all 1s ease;
    border-radius: 25px;
    border: 2px solid #fd8300;
    display: inline-block;
   
}

.call a:hover {
    cursor: url('cursor2.cur'), auto;
    background-color: #dcdce6;;
    color: #fd8300;
    border: 2px solid #1f1f56;

}

.sentence {
    padding: 55px 0 35px;
    color: #fff;
    text-align: center;
    background: url(../img/background.jpg) center/cover;
    background-size: cover;
    background-color: #25252c;
  }

  .sentence p {
    margin: 0px;
  }


.month {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto Slab";
}

p.choice {
    margin: 5px 0;
    font-size: 14px;
    line-height: 24px;
  
    }

.price {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
   
}   

.price span {
    font-size: 40px;     
}

.main h1 {
    font-size: 30px;
    
    color: #24242b;
    font-weight: 700;
}

.about-company {
    margin-top: 42px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    max-width: 670px;
}

.details {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    transition: all .5s ease;
}

.details:hover {
    color: #24242b;
    background-color: #fd8300;
    text-decoration: none;
    border: #666 1px solid;
}

.popular-projects h2 {
    text-decoration: none;
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
}

.house p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    
}

.house h3 {
    margin: 5px 0 0;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    transition: all .25s ease;
}

.house h3:hover {
    text-decoration: underline 2px;
}

h3 sup { 
    display: inline-block;
    text-decoration: none; 
}

.main-hause  {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    margin-bottom: 46px;
}


.menu-table {
    min-width: 219px;
    margin-top: 36px;
    border-radius: 3px;
    overflow: hidden;
}


.menu p.categories {
    margin: 0;
    padding: 11px 16px; 
    background-color: #1f1f56;
    color: #fff;
    font: 700 16px/1.5em "Roboto Slab";
    
}


.menu ul {
    
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.menu a {
    
    background-color: #e4e4ec;
    padding: 11px 16px;
    border-top: 1px solid #cdcddd;
    color: #25252c;
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.menu a:hover {
    border-top: 0 solid #cdcddd;
    color: #fff;
    background-color: #fd8300;
}

.sub-menu a {
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.sub-menu a:hover {
    background-color: #cecedd;
    color: #666;
}





.addition-fon {
    padding: 19px;
    background-color: #ededf5;
    align-items: start;
}

.addition {
    font-size: 14px;
    line-height: 26px;
    
}

.addition ul {
    list-style: none;
    padding-left: 0;
    padding-right: 20px;
}

.addition a, li{
    
    transition: all .5s ease;  
    text-decoration: none;
    color: #666;
}

.telephone a {
    margin: 10px 0;
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}

.internet a {
    margin-right: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}

.addition a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.footer {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    padding: 13px;
    display: flex;
    background-color: #dcdce6;
    justify-content: center;

}